   
 <h1 class="text-center"> <img src="https://cdn-icons-png.flaticon.com/512/26/26969.png"  style="width: 100px;">RJMotors</h1> 
<hr>


<h3 class="text-center"> Bem vindo ao RJMotors</h3>
 <div class="carousel col-12">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" style="width:80%;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.honda.com.br/motos/sites/hda/files/2022-03/CG-160-Fan-azul.webp" class="d-block w-100" alt="Moto Honda1">
      </div>
      <div class="carousel-item">
        <img src="https://www.honda.com.br/motos/sites/hda/files/2022-03/POP-110i-branca.webp" class="d-block w-100" alt="Moto Honda2">
      </div>
      <div class="carousel-item">
        <img src="https://www.chevrolet.com.br/content/dam/chevrolet/mercosur/brazil/portuguese/index/cars/cars-subcontent/02-images/cruze-sport6-rs-carros.jpg?imwidth=960" class="d-block w-100" alt="carro">
      </div>
    </div>
  </div>
</div>

    <h1 style="text-align: center;">Conheça os nossos Veiculos!!!</h1>
 <div class="container" style="margin-top: 50px;">
   <div class="row">
     <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://revistacarro.com.br/?attachment_id=53532" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tracker 2022</h5>
          <p class="card-text">Conheça o Chevrolet Tracker 2022, o novo SUV conta com tecnologia Wi-Fi nativa, motor turbo e um design ainda mais moderno. Garanta já o seu!</p>
        </div>
      </div>
     </div>
     <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://ogimg.infoglobo.com.br/in/24782395-cad-e7e/FT1086A/Esportivo-de-raiz-potente-com-duas-portas-e-cambio-manual.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Honda Civic 2022</h5>
          <p class="card-text">Confira todos os detalhes do Honda Civic 2022, o eterno rival do Corolla. Veja suas versões, motores, revisões, fotos e muito mais!</p>     
        </div>
      </div>
     </div>
     <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://p2.trrsf.com/image/fget/cf/1200/675/middle/images.terra.com/2022/02/10/jeep-renegade-sport-(11).png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jeep Renegade 2022</h5>
          <p class="card-text">Novo Jeep Renegade com Novo Motor Turboflex T270 185cv com Tração 4x4, e Faróis Full Led. Conheça o Novo Jeep Renegade. Ainda Mais Autêntico, Ainda Mais Renegade!!!</p>
        </div>
      </div>
     </div>
   </div>
 </div>

 <hr>
 <h3>Satisfação dos nosssos clientes</h3>
 <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 98%;" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
</div>